/*-----------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

/*-----------------------------------------------------------------*/

/*---INDEX---------------------------------------------------------*/
html, body {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    overflow-x: hidden;
    color: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}


html {
    height: 100%;
    box-sizing: border-box;
    z-index: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    margin-top: 150px;
    padding-bottom: 6rem;
    min-height: 100%;
    background-color: #1d1f21;
}

p {
    margin-top: 0;
}

h1, h2, h3, h4 {
    font-weight: 400;
    letter-spacing : 5px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

a {
    text-decoration:none;
    color: orangered;
    transition-duration: 1s;
    -moz-transition-duration: 1s;
}

a:hover {
    background-color: orangered;
    color: white;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

header {
    z-index: 2;
    position:fixed;
    top: 0px;

    width: 100%;
    height: 150px;

    background-color: rgba(255, 165, 0, 0.85);
    background-color: orangered;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

section {
    width: 900px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article {
    display: flex;
    text-align: justify;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 900px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #141517;
  text-align: center;
}

/*-----------------------------------------------------------------*/
#a-propos {
    margin-top: 50px;
    width: 70%;
}

#logo {
    height: 128px;
    width: 128px;
    margin-left: 40px;
    background-image: url('../images/logo.png');
    background-position:center;
    background-repeat: no-repeat;
    transition-duration: 1s;
    -moz-transition-duration: 1s;
}

#logo:hover {
    background-image: url('../images/logo-hover.png');
}

#div-recherche #search {
    width: 98.5%;
    height: 30px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    border-style: none;
    font-size: 14px;
    background-color: white;
    color: gray;
}

#div-recherche #search-btn {
    width: 98.5%;
    height: 30px;
    transition-duration: 1s;
    -moz-transition-duration: 1s;
    background-color: #a53600;
    padding: 5px 10px 5px 10px;
    border-style: none;

    font-size: 16px;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

#div-recherche #search-btn:hover {
    color: #a53600;
    background-color: white;
}

#div-recherche {
    display: flex;
    flex-direction: column;
    width: 275px;
}

/*-----------------------------------------------------------------*/
.menu {
    background-image: url('../images/menu.png');
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 1s;
    -moz-transition-duration: 1s;
    width: 128px;
    height: 128px;
}

.menu:hover {
    background-image: url('../images/menu-hover.png');
    width: 400px;
}

.menu-nv1 {
    padding-top: 20px;
    position: absolute;
    transition-duration: 1s;
    -moz-transition-duration: 1s;
    top: 130px;
    right: -400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-nv1 a {
    width: 100%;
    text-transform: uppercase;
    letter-spacing : 5px;
    text-align: center;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    background-color: #1d1f21;
    color: white;
}

.menu-nv1 a:hover {
    background-color: orangered;
}

.menu:hover .menu-nv1 {
    right: 0px;
    display: flex;
}

.imageZoom {
	width: 400px;
	height: 267px;
	overflow: hidden;
    position: relative;
}

.image {
    transition-duration: 1s;
    -moz-transition-duration: 1s;
	max-width: 100%;
    position: absolute;
}

.image-hover {
	-webkit-transform:scale(1.25);
	-moz-transform:scale(1.25);
	-ms-transform:scale(1.25);
	-o-transform:scale(1.25);
	transform:scale(1.25);
}

.filtre {
    position: absolute;
    background: linear-gradient(rgba(255,255,255,0), white);
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}


.filtre h3 {
    color: black;
    margin-top: 50px;
}

.filtre hr {
    margin-bottom:15px;
    margin-top: 0;
}

.filtre-hidden {
    transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%);
}

/*---ASCII---------------------------------------------------------*/

th h3 {
    margin: 0;
}

.tftable {
    font-size:12px;
    color:#333333;
    width:100%;
    border-width: 1px;
    border-color: #a53600;
    border-collapse: collapse;
}

.tftable th {
    font-size:12px;
    background-color: #A53600;
    color: white;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: black;
    text-align:center;
}

.tftable tr {
    background-color:#ffffff;
    text-align: center;
    transition-duration: 0.5s;
}

.tftable td {
    font-size:12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a53600;
    width: 20%;
}

.tftable tr:hover {
    background-color: orangered;
    color: white;
}

.fixedTop {
    position: fixed;
    top:150px;
}

/*---CONTACT-------------------------------------------------------*/

#contact {
    margin: 25px;
    width: 35%;
    height: 150px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contact img {
    height: 20%;
    width: auto;
}

#boutton {
    margin-top: 20px;
    width: 250px;
    height: 30px;
    transition-duration: 1s;
    -moz-transition-duration: 1s;
    background-color: #a53600;
    padding: 5px 10px 5px 10px;
    border-style: none;

    font-size: 16px;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

#boutton:hover {
    color: #a53600;
    background-color: white;
}

/*---CONVERTISSEUR-------------------------------------------------*/

#conversion {
    border-style: solid;
    border-width: 2px;
    border-color: white;
}


#conversion p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conversion input[type='text'], #conversion input[type='number'] {
    height: 30px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    border-style: none;
    font-size: 14px;
    min-width: 40%;
    text-transform: uppercase;
}

.valider {
    display: none;
}

/*---MAP-----------------------------------------------------------*/

#map-legende {
    width: 1100px;
    display: flex;
}

#map {
    height: 500px;
    width: 75%;
}

#question {
    height: 125px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#question > div {
    display: flex;
}

#question form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#question h3 {
    margin-top: 0;
}

#legende ul li {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    display: inline-block;
    width: 200px;
    padding: 5px;
    margin: 5px;
}

#legende ul {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

#legende {
    text-align: center;
    width: 25%;
    height: auto;
}

.borne-hidden {
    -webkit-transform: translateX(-225px);
    -ms-transform: translateX(-225px);
    transform: translateX(-225px);
}

#borne {
    transition-duration: 1s;
}

.label-switch {
    font-weight: 400;
    letter-spacing : 5px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    height: 34px;
    width: auto;
    margin: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
    margin-right: 10px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4caf50;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*---RECHERCHE-----------------------------------------------------*/

#res {
    list-style: none;
}

/*---RESPONSIVE----------------------------------------------------*/

/* Resolution 16/9 paysage */
@media screen and (max-width: 1920px)
{

}

@media screen and (max-width: 1280px)
{

}

@media screen and (max-width: 853px)
{

}

/* Resolution 16/9 portrait */
@media screen and (max-width: 1080px)
{

}

@media screen and (max-width: 720px)
{

}

@media screen and (max-width: 480px)
{

}
